<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="panel panel_mail_domain">

    <div class="pnl_formsarea">
        <fieldset class="inlineLabels" id="sogoconffields"><legend>SOGo Domain</legend>
            {tmpl_loop name="records"}
                <div class="ctrlHolder" id="rm{tmpl_var name='name'}">
                    <label for="{tmpl_var name='name'}">{tmpl_var name='text'}</label>
                    {tmpl_if name="type" op="==" value="TEXT"}
                        <input name="{tmpl_var name='name'}" id="{tmpl_var name='name'}" value="{tmpl_var name='value'}" type="text" class="textInput" />
                    {/tmpl_if}
                    {tmpl_if name="type" op="==" value="CHECKBOXARRAY"}
                        <div class="multiField">
                            {tmpl_var name='value'}
                        </div>
                    {/tmpl_if}
                    {tmpl_if name="type" op="==" value="SELECT"}
                        <select name="{tmpl_var name='name'}" id="{tmpl_var name='name'}" class="selectInput">
                            {tmpl_var name='value'}
                        </select>
                    {/tmpl_if}
                </div>
            {/tmpl_loop name="records"}
        </fieldset>

        {tmpl_loop name="hidden_fields"}
            <input type="hidden" name="{tmpl_var name='name'}" value="{tmpl_var name='name'}">
        {/tmpl_loop name="hidden_fields"}
        <input type="hidden" name="id" value="{tmpl_var name='id'}">
        <input type="hidden" name="server_id" value="{tmpl_var name='server_id'}">
        <input type="hidden" name="domain" value="{tmpl_var name='domain'}">

        <div class="buttonHolder buttons">
            <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onclick="submitForm('pageForm', 'mail/mail_sogo_domain_edit.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
            <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onclick="loadContent('mail/mail_sogo_domain_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
        </div>
    </div>

</div>