<h2><tmpl_var name="list_head_txt"></h2>

<div class="panel panel_list_mail_sogo_domain_admin">
  <div class="pnl_listarea">
    <fieldset>
      <table class="list">
        <thead>
          <tr>
            <th class="tbl_col_active" scope="col"><tmpl_var name="active_txt"></th>
            <th class="tbl_col_sys_groupid" scope="col"><tmpl_var name="sys_groupid_txt"></th>
            <th class="tbl_col_server_id" scope="col"><tmpl_var name="server_id_txt"></th>
            <th class="tbl_col_domain" scope="col"><tmpl_var name="domain_txt"></th>
          </tr>
          <tr>
            <td class="tbl_col_active"><select name="search_active" onChange="submitForm('pageForm','mail/mail_sogo_domain_list.php');">{tmpl_var name='search_active'}</select></td>
            <td class="tbl_col_sys_groupid"><select name="search_sys_groupid" onChange="submitForm('pageForm','mail/mail_sogo_domain_list.php');">{tmpl_var name='search_sys_groupid'}</select></td>
            <td class="tbl_col_server_id"><select name="search_server_id" onChange="submitForm('pageForm','mail/mail_sogo_domain_list.php');">{tmpl_var name='search_server_id'}</select></td>
            <td class="tbl_col_domain"><input type="text" name="search_domain" value="{tmpl_var name='search_domain'}" /></td>
          </tr>
        </thead>
        <tbody>
          <tmpl_loop name="records">
          <tr class="tbl_row_<tmpl_if name='__EVEN__'}even<tmpl_else>uneven</tmpl_if>">
            <td class="tbl_col_active"><a href="#" onclick="loadContent('mail/mail_sogo_domain_edit.php?id={tmpl_var name='id'}');">{tmpl_var name="active"}</a></td>
            <td class="tbl_col_sys_groupid"><a href="#" onclick="loadContent('mail/mail_sogo_domain_edit.php?id={tmpl_var name='id'}');">{tmpl_var name="sys_groupid"}</a></td>
            <td class="tbl_col_server_id"><a href="#" onclick="loadContent('mail/mail_sogo_domain_edit.php?id={tmpl_var name='id'}');">{tmpl_var name="server_id"}</a></td>
            <td class="tbl_col_domain"><a href="#" onclick="loadContent('mail/mail_sogo_domain_edit.php?id={tmpl_var name='id'}');">{tmpl_var name="domain"}</a></td>
          </tr>
          </tmpl_loop>
          <tmpl_unless name="records">
              <tr class="tbl_row_noresults tbl_row_<tmpl_if name='__EVEN__'}even<tmpl_else>uneven</tmpl_if>">
                  <td colspan="4">{tmpl_var name='globalsearch_noresults_text_txt'}</td>
              </tr>
          </tmpl_unless>
        </tbody>
        <tfoot>
          <tr>
            <td class="tbl_footer tbl_paging" colspan="5"><tmpl_var name="paging"></td>
          </tr>
        </tfoot>
      </table>
    </fieldset>
  </div>

</div>
