<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"> {tmpl_var name='server_name'} (#{tmpl_var name='id'}) </p>

<div class="panel panel_sogo_config">

    <div class="pnl_formsarea">
        <fieldset class="inlineLabels"><legend>SOGo Defaults on: {tmpl_var name='server_name'} (#{tmpl_var name='id'})</legend>
            
            {tmpl_loop name="records"}
            <div class="ctrlHolder">
                <label for="{tmpl_var name='name'}">{tmpl_var name='text'}</label>
                {tmpl_if name="type" op="==" value="TEXT"}
                    <input name="{tmpl_var name='name'}" id="{tmpl_var name='name'}" value="{tmpl_var name='value'}" type="text" class="textInput" />
                {/tmpl_if}
                {tmpl_if name="type" op="==" value="CHECKBOXARRAY"}
                    <div class="multiField">
                        {tmpl_var name='value'}
                    </div>
                {/tmpl_if}
                {tmpl_if name="type" op="==" value="CUSTOMFIELDSORTER"}
                    <input name="{tmpl_var name='name'}" id="{tmpl_var name='name'}" type="hidden" />
                    <script type="text/javascript">
                        $(function() {
                            $("#sortable{tmpl_var name='name'}").sortable({
                                placeholder: "ui-state-highlight",
                                update: function(event, ui) {
                                    $('#{tmpl_var name='name'}').val($("#sortable{tmpl_var name='name'}").sortable("toArray", {attribute: 'fieldvalue'}));
                                }
                            });
                            $("#sortable{tmpl_var name='name'}").disableSelection();
                            $('#{tmpl_var name='name'}').val($("#sortable{tmpl_var name='name'}").sortable("toArray", {attribute: 'fieldvalue'}));
                        });
                    </script>
                    <ul id="sortable{tmpl_var name='name'}" style="width: 35%; float: left; list-style: none outside none;">
                        {tmpl_var name='value'}
                    </ul>
                {/tmpl_if}
                {tmpl_if name="type" op="==" value="SELECT"}
                    <select name="{tmpl_var name='name'}" id="{tmpl_var name='name'}" class="selectInput">
                        {tmpl_var name='value'}
                    </select>
                {/tmpl_if}
            </div>
            {/tmpl_loop name="records"}

        </fieldset>

        <input type="hidden" name="id" value="{tmpl_var name='id'}">
        <input type="hidden" name="server_name" value="{tmpl_var name='server_name'}">

        <div class="buttonHolder buttons">
            <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm', 'admin/sogo_config_edit.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
            <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('admin/sogo_config.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
        </div>
    </div>

</div>
