<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="panel panel_sogo_config_permissions_index">
    <div class="pnl_formsarea">
        <fieldset class="inlineLabels"><legend>{tmpl_var name='tab_header_type_txt'}</legend>
            <div class="ctrlHolder">
                {tmpl_if name="scpi_is_global" op="==" value="0"}
                <label for="scpi_type">{tmpl_var name='scpi_type_txt'}</label>
                <select name="scpi_type" id="scpi_type" class="selectInput">
                    {tmpl_var name='scpi_type'}
                </select>
                {tmpl_else}
                <label for="scpi_type">{tmpl_var name='scpi_type_txt'}</label>
                <strong>{tmpl_var name='scpi_type_select_disabled_txt'}</strong>
                {/tmpl_if}
            </div>
            {tmpl_if name="scpi_is_global" op="==" value="0"}
            <div class="ctrlHolder">
                <p>{tmpl_var name='scpi_type_client_help_txt'}</p>
                <p>{tmpl_var name='scpi_type_reseller_help_txt'}</p>
            </div>
            {/tmpl_if}
        </fieldset>
        {tmpl_if name="scpi_is_global" op="==" value="1"}
        <input type="hidden" name="scpi_type" value="{tmpl_var name='scpi_type_disabled'}">
        {/tmpl_if}
        <input type="hidden" name="id" value="{tmpl_var name='id'}">
        <input type="hidden" name="scpi_is_global" value="{tmpl_var name='scpi_is_global'}">
        <input type="hidden" name="_csrf_key" value="{tmpl_var name='_csrf_key'}">
        <input type="hidden" name="_csrf_id" value="{tmpl_var name='_csrf_id'}">
        <div class="buttonHolder buttons">
            <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onclick="submitForm('pageForm', 'admin/sogo_config_permissions_edit.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
            <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onclick="loadContent('admin/sogo_config_permissions_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
        </div>
    </div>

</div>
