<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="panel panel_sogo_module">

    <div class="pnl_formsarea">
        <fieldset class="inlineLabels">
            <div class="ctrlHolder">
                <label for="all_domains">{tmpl_var name='all_domains_txt'} <div class="ttip" title="{tmpl_var name='all_domains_ttip_txt'}"></div></label>
                <select name="all_domains" id="all_domains" class="selectInput">
                    {tmpl_var name='all_domains'}
                </select>
                <p style="clear: both;">{tmpl_var name='all_domains_ex_txt'}</p>
            </div>
            <div class="ctrlHolder">
                <label for="allow_same_instance">{tmpl_var name='allow_same_instance_txt'} <div class="ttip" title="{tmpl_var name='allow_same_instance_ttip_txt'}"></div></label>
                <select name="allow_same_instance" id="allow_same_instance" class="selectInput">
                    {tmpl_var name='allow_same_instance'}
                </select>
                <p style="clear: both;">{tmpl_var name='allow_same_instance_ex_txt'}</p>
            </div>
            <div class="ctrlHolder">
                <label for="config_rebuild_on_mail_user_insert">{tmpl_var name='config_rebuild_on_mail_user_insert_txt'}</label>
                <select name="config_rebuild_on_mail_user_insert" id="config_rebuild_on_mail_user_insert" class="selectInput">
                    {tmpl_var name='config_rebuild_on_mail_user_insert'}
                </select>
                <p style="clear: both;">{tmpl_var name='config_rebuild_on_mail_user_insert_ex_txt'}</p>
            </div>
        </fieldset>

        <input type="hidden" name="id" value="{tmpl_var name='id'}">
        <input type="hidden" name="server_id" value="{tmpl_var name='server_id'}">

        <div class="buttonHolder buttons">
            <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm', 'admin/sogo_module_settings.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
            <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('admin/sogo_module_settings_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
        </div>
    </div>

</div>
